//VERSION UPDATE: CHANGED VARIABLE NAMES FOR FUNCTIONALITY

// START COMMANDS - DNI
// set up a simple neutral simulation
initialize() {
initializeMutationRate(1e-8);

//MUTATION TYPES AND RATES
//remember: the formula is ("name", dominance, "distribution", coefficient for distribution)
// N mutation type: neutral
initializeMutationType("m1", 0.5, "n", 0.0, 0.01);
// D mutation type: deleterious
initializeMutationType("m2", 0.1, "n", 0.0, 0.01);
// B mutation type: beneficial
initializeMutationType("m3", 0.2, "n", 0.0, 0.01);


//GENOME STRUCTURE
// g1 genomic element type: uses m1 for all mutations
initializeGenomicElementType("g1", N, 1.0); //non-coding
initializeGenomicElementType("g2", c(N, D, B), c(1.0, 1.0, 1.0)); //coding
initializeGenomicElementType("g3", c(N, D, B), c(1.0, 1.0, 1.0)); //promoter


//CHROMOSOME STRUCTURE
// uniform chromosome of length 100 kb with uniform recombination
initializeGenomicElement(g1, 0, 1999);
initializeGenomicElement(g3, 2000, 2999); // GAL 7
initializeGenomicElement(g1, 3000, 12999);
initializeGenomicElement(g3, 13000, 13999);    //GAL 10
initializeGenomicElement(g1, 14000, 23999);
initializeGenomicElement(g3, 24000, 24999);    //GAL 1
initializeGenomicElement(g2, 25000, 29999);     // GAL 1
initializeGenomicElement(g1, 30000, 39999);
initializeGenomicElement(g3, 40000, 40999);     // GAL 3
initializeGenomicElement(g2, 41000, 45999);    // GAL 3
initializeGenomicElement(g1, 46000, 50999);
initializeGenomicElement(g3, 51000, 51999);   // GAL 2
initializeGenomicElement(g1, 52000, 61999);
initializeGenomicElement(g3, 62000, 62999); // GAL 80
initializeGenomicElement(g2, 63000, 67999);  // GAL 80
initializeGenomicElement(g1, 68000, 77999);
initializeGenomicElement(g3, 78000, 78999); // GAL 5
initializeGenomicElement(g1, 79000, 88999);
initializeGenomicElement(g3, 89000, 89999);    //GAL 4
initializeGenomicElement(g2, 90000, 99999);     // GAL 4

initializeRecombinationRate(1e-8);
}
 
// create a population of 500 individuals
1 {
sim.addSubpop("p1", 500);
}
 
// output samples of 10 genomes periodically, all fixed mutations at end
1000 late() { p1.outputSample(10); }
2000 late() { p1.outputSample(10); }
20000 late() { sim.outputFixedMutations(); }
